/*body*/
/*header: open sans
paragraph: montserrat*/
/*style index*/
html {
  scroll-behavior: smooth;
}
/*------------------------go on top page-----------------------*/
.gotoppage {
  position: fixed;
  bottom: 50px;
  right: 90px;
  text-decoration: none;
  text-align: center;
  color: #2680fd;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 2;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Open sans", sans-serif;
  font-weight: 700;
}
p {
  font-weight: 400;
}

/*normal line for all page*/
.line {
  border-bottom: 6px solid #6ca4f4;
}
.title-card-style {
  background-color: #6ca4f4;
  color: white;
}
/*--------------------------menu navigation-------------------------*/
.navbar-brand img {
  width: 30%;
}
.navbar {
  /*shadow: x y blur*/
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid;
  z-index: 1;
}
.nav-item {
}
.navbar-nav {
  width: 500px;
}
/*--------------------------carousel header--------------------------*/
.carousel-style {
  background: black;
  overflow: hidden;
}
.carousel-style img {
  object-fit: cover;
  opacity: 0.4;
}
/*---------------------------section intro---------------------------*/
.intro-style {
  margin: 80px auto;
  font-weight: 400;
}
.intro-style img {
  margin-bottom: 50px;
}

/*------------------------------contact------------------------------*/
.contact-style {
  background-color: #f8f8f8;

  padding: 30px 80px 80px;
}
.contact-style img {
  width: 70%;
}
.contact-style h2 {
  margin: 60px 0 30px 0;
}
.contact-style p {
  margin-bottom: 60px;
}
.contact-style a {
  font-weight: 600;
  text-transform: uppercase;
}
/*-----------------------------------section share student----------------------*/
.share-style {
  margin: 100px auto 0;
}
.style-indicators {
  margin-top: 30px;
}
.style-indicators li {
  background-color: #6ca4f4;
}
.testimonials .testimonials-wrap {
  padding: 30px 120px 80px 120px;
}
.testimonials .testimonials-item {
  border-radius: 25px;
  background-color: #f8f8f8;
  border: 1px solid #dadada;

  transition: 0.5s;
}

.testimonials .testimonials-item:hover {
  border: 1px solid #6ca4f4;
}

.testimonials-item img {
  padding-bottom: 25px;
}
.testimonials-item p {
  margin-top: 15px;
  margin-bottom: 30px;
}
/*-----------------------------------section event upcoming----------------------*/
.style-event {
  background-color: #f8f8f8;
  padding: 80px 80px 80px 80px;
  margin: 80px auto;
}
.card .card-body {
  font-size: 0.8rem;
}
.style-event a {
  font-weight: 600;
}
/*-----------------------------------section CLB----------------------*/
.section-clb {
  padding: 20px 80px 80px;
}
.section-clb a {
  font-weight: 600;
  text-transform: uppercase;
}
.clb-style {
  background-color: #f8f8f8;
}

.clb-style img {
  padding: 20px 0 20px 20px;
}

/*-----------------------------------section footer----------------------*/
.footer-top {
  background-color: #f8f8f8;
  padding: 50px 200px;
}
.footer-bottom {
  background-color: #6ca4f4;
  padding: 15px;
}
.fa-instagram-square:hover,
.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-dribbble-square:hover,
.fa-behance-square:hover {
  color: #6ca4f4;
}
/*----------------------------------end style index.html------------------------*/

/*-----------------------------------style sinhvien.html------------------------------*/
/*-----------------------------------list student------------------------------*/
/*hover card*/
/* Container needed to position the overlay. Adjust the width as needed */

.card-student-style {
  background-color: #f8f8f8;
}
.studentCard {
  position: relative;
  width: 100%;
}

/* Make the image to responsive */
.image-student-hover {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.6); /* Black see-through */
  width: 100%;
  transition: 0.8s ease;
  opacity: 0;
  font-size: 20px;
  padding: 10px;
}

/* When you mouse over the card, fade in the overlay title */
.card-student-style:hover .overlay {
  opacity: 1;
}

/*title section*/
.listStudent {
  margin: 100px auto;
}

/*-----------------------------------end style sinhvien.html-------------------------*/

/*-----------------------------------style profile.html-------------------------*/
.profile-style {
  margin: 100px 0;
  padding: 0 100px 0 50px;
}
.sideBar {
  background-color: #f8f8f8;
  border: 1px solid #dadada;
  padding: 80px 0;
  border-radius: 20px;
}

/*hover project*/

.container-project {
  position: relative;
  width: 100%;
  max-width: 300px;
  border: 2px solid #dadada;
  transition: 0.5s;
}
.container-project:hover {
  border: 2px solid #6ca4f4;
}
.image-project-hover {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-project {
  position: absolute;
  bottom: 0;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.8); /* Black see-through */
  color: black;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: black;
  padding: 10px;
  text-align: center;
}

.container-project:hover .overlay-project {
  opacity: 1;
}
/*-----------------------------------end style profile.html-------------------------*/

/*-----------------------------------style events.html-------------------------*/
.listEventStyle {
  font-weight: 400;
}
.style-sideBar-events a:hover {
  background-color: #c1dbff;
}
.style-sideBar-events a {
  border: 1px solid #dadada;
}

/*-----------------------------------end style events.html-------------------------*/

/*-----------------------------------style eventDetail.html-------------------------*/
.infoEvents {
  background-color: #f8f8f8;
  border: 1px solid #dadada;

  padding-top: 35px;
  margin-left: 0%;
  font-size: 0.9rem;
}
.infoEvents ul li {
  transition: 0.3s;
}
.infoEvents ul li:hover {
  color: #2680fd;
}
/*style posts related*/
.style-listPostRelated a {
  border: 1px solid #dadada;
  font-size: 0.8rem;
}
.style-listPostRelated a:hover {
  background-color: #c1dbff;
}
/*-----------------------------------end style eventDetail.html-------------------------*/

/*-----------------------------------style CLB.html-------------------------*/
.style-CLB {
  background-color: #f8f8f8;
  border: 1px solid #dadada;
}

.style-CLB ul li:hover {
  background-color: #c1dbff;
}

/*-----------------------------------end style CLB.html-------------------------*/

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact .info .address,
.contact .info .email,
.contact .info .phone {
  font-size: 0.8rem;
  margin-left: 0;
  transition: 0.3s;
}

.contact .info .address:hover,
.contact .info .email:hover,
.contact .info .phone:hover {
  color: #2680fd;
}
